<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations for {{ anime_name }}</h1>
    {% if not_found %}
        <p>Sorry, no match found for the provided anime.</p>
    {% else %}
        <ul>
            {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
